body {
                  background-color: lavender;
                 
              }
              h1{
                  text-align: center;
                  color: blueviolet;
              }
              div{
                  text-align: center;
              
              }
              
              #form{
                  font-size:30PX;
              }
              
              